#canvasContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background: whitesmoke;
}

.canvas {
    position: absolute;
    display: block;
    cursor: auto;
    border: 1px solid #CCCCCC;
    margin-bottom: 100px;
}

#drawCanvas {
    background: rgba(255,255,255,0);
    z-index: 2;
    cursor: pointer;
}

#netBackground {
    background: rgba(255,255,255,1);
    z-index: 1;
}
