<div id="canvasContainer">
    <canvas id="netBackground" class="canvas" style="left:0;top:0;"></canvas>
    <canvas id="drawCanvas" class="canvas" style="left:0;top:0;"></canvas>
</div>

<div id="coverContainer">

</div>

<div id="echartsContainer" style="width: 60%; height: 600px;">

</div>

<button ng-click="log()">log</button>
<button ng-click="cover()">cover</button>
<button ng-click="save()">save</button>
<button ng-click="delete()">delete</button>

<link rel="stylesheet" href="view/canvas/canvas.css">
