#canvasContainer {

}

.canvas {
    position: absolute;
    display: block;
    cursor: auto;
    border: 1px solid #CCCCCC;
    margin-bottom: 100px;
}

#drawCanvas {
    background: rgba(255,255,255,0);
    z-index: 10;
    cursor: pointer;
}

#netBackground {
    background: rgba(255,255,255,0);
    z-index: 9;
}

#coverContainer {

}

#echartsContainer {
    position: absolute;
    display: block;
    left: 300px;
    top: 1200px;
}
