<div id="canvasContainer">
    <canvas id="netBackground" class="canvas" style="left:0;top:0;"></canvas>
    <canvas id="drawCanvas" class="canvas" style="left:0;top:0;"></canvas>
</div>

<div id="coverContainer">

</div>

<div id="buttonContainer">
    <button class="btn btn-primary" ng-click="identity()">识别图形</button>
    <br>
    <button class="btn btn-success" ng-click="save()">保存画板</button>
    <button class="btn btn-success" ng-click="saveAndQuit()">保存并退出</button>
    <br>
    <button class="btn btn-danger" ng-click="delete()">删除画板</button>
</div>

<link rel="stylesheet" href="view/canvas/canvas.css">
