<br>

<div class="container">
    <div class="row clearfix">

        <div class="col-md-3 column">
        </div>

        <div class="col-md-6 column">
            <form class="form-horizontal" role="form">
                <div class="form-group column_padding_md">
                    <div class="col-sm-12 text-center">
                        <h3>注册新用户</h3>
                    </div>
                </div>
                <div class="form-group column_padding_md">
                    <div class="col-sm-12">
                        <input ng-model="email" ng-init="email=''" type="email" class="form-control" placeholder="请输入注册邮箱..." maxlength="100"/>
                    </div>
                </div>
                <div class="form-group column_padding_md">
                    <div class="col-sm-12">
                        <div class="form-inline">
                            <input ng-model="identifyCode" ng-init="identifyCode=''" type="text" class="form-control" placeholder="请输入验证码..." maxlength="6"/>
                            <button ng-click="getIdentifyCode()" ng-disabled="email===''" class="btn btn-primary">获取验证码</button>
                        </div>
                    </div>
                </div>
                <div class="form-group column_padding_md">
                    <div class="col-sm-12">
                        <input ng-model="password" ng-init="password=''" type="password" class="form-control" placeholder="请输入注册密码..." maxlength="100"/>
                    </div>
                </div>
                <div class="form-group column_padding_md">
                    <div class="col-sm-12">
                        <button ng-click="register()" ng-disabled="(email==='')||(password==='')" type="submit" class="btn btn-primary form-control">注册</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <a ui-sref="login">已有账户，前往登录</a>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-3 column">
        </div>

    </div>
</div>


<link rel="stylesheet" href="view/register/register.css">
