<br>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-1 column">
        </div>
        <div class="col-md-10 column">
            <h5 class="text-primary" ng-hide="hideNotice">公告:&nbsp;&nbsp;&nbsp;&nbsp;热烈欢迎2019年的到来，新的一年希望谢莹莹天天开心，越来越棒，成为出色的程序工程师！爱你么么哒😘</h5>
            <p class="text-danger" ng-hide="hideNotice" ng-click="hideNotice = true" style="cursor: pointer">关闭公告</p>
        </div>
        <div class="col-md-1 column">
        </div>
    </div>
</div>

<br>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-1 column">
        </div>
        <div class="col-md-10 column">
        </div>
        <div class="col-md-1 column">
            <button ng-click="logout()" class="btn btn-primary">注销</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="cell_container">

                <div ng-click="newCanvas()" class="cell add_btn"></div>

                <div ui-sref="canvas({canvas_id: item.canvas_id})" ng-repeat="item in canvasList" class="cell" on-finish-render="">
                    <canvas id="{{item.canvas_id}}"></canvas>
                </div>

            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" href="view/home/home.css">
